<div class="container">
  <div class="jumbotron">
    <h4>Hello {{user.name}} you belongs to {{user.batch}}!</h4>
  </div>
  <div class="profile-book-section">
    {{#if books}}
    <h3 style="color: white;">Purchased Books</h3>
    <ul class="list-group">
      {{#each books}}
      <li class="list-group-item">{{this.bookId.book_name}} --- purchase date: {{this.purchaseDate}} -- <a
          href="/book/return/{{this.bookId._id}}" class="btn btn-info">Return</a></li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>